.heart {
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: transform 0.3s ease;
}
.heart:active {
  background-color: transparent;
  box-shadow: none;
}

.active {
  --color1: #b87c4c;
}

.heart:active,
.heart:focus,
.heart:hover {
  background-color: transparent;
  box-shadow: none;
}
.heart:hover {
  transform: scale(1.2);
}
